<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')  %> 
    <title><%= categoria%> </title>
</head>
<body>
    <%- include('../partials/header')  %>
    <main class="categoria">
        <h1>Categoría <%= categoria %> </h1>
        <section class="categorias_contenedor">
            <% productos.forEach(producto=>{%>
            <article class="producto_ofer">
                <div class="image_container">
                    <a href="/product/<%= producto.id %>"><img src="/img/productos/<%= producto.imagen[0].nombre %>"></a>
                </div>
                <div class="detail_container">
                    <p class="precio">$<%= producto.precio %> </p>
                    <% if(producto.descuento>0) {%> 
                    <p class="descuento"><%= producto.descuento %>%</p>
                    <p class="precio_des">$<%= parseInt(producto.precio) - parseInt(producto.precio)*(parseInt(producto.descuento)/100)  %></p>
                    <% } %>
                    <h4 class="titulo"><%= producto.nombre %></h4>
                    
                </div>
            </article>
            <% }) %> 
        </section>
    </main>
    <%- include('../partials/footer')  %> 
</body>
<script src="../../../js/general.js"></script>
</html>