<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')  %>
    <title><%= producto.nombre %></title>
</head>
<body>
    <%- include('../partials/header')  %> 

    <main class="product">

        <section class="contenedorGeneral">
            <!-- Acceso directo para editar producto, solo admin -->
            <% if (locals.usuarioLogueado && locals.usuarioLogueado.admin == 1) { %>
                <button class="bttn_editarProducto">
                    <a href="/admin/edit/<%= producto.id %>"><i class="wrench fas fa-wrench"></i></a>
                </button>
            <% } %>
            <h1 class="tituloMobile"><%= producto.nombre  %></h1>
            <% if (producto.imagen[1]) { %>
                <section class="cajaCarrusel">
                    <% if (producto.imagen[2]) { %>
                        <!-- OPCIÓN 1: PRODUCTO CON 3 FOTOS -->
                        <div class="slider" id="slider">
                            <article class="fotos" id="articles">
                                <img src="/img/productos/<%= producto.imagen[0].nombre %>" alt="<%= producto.nombre %>">
                            </article>
                            <article class="fotos" id="articles">
                                <img src="/img/productos/<%= producto.imagen[1].nombre %>" alt="<%= producto.nombre %>">
                            </article>
                            <article class="fotos" id="articles">
                                <img src="/img/productos/<%= producto.imagen[2].nombre %>" alt="<%= producto.nombre %>">
                            </article>
                        </div>
                        <% } else { %>
                        <!-- OPCIÓN 2: PRODUCTO CON 2 FOTOS -->
                        <div class="slider2" id="slider">
                            <article class="fotos" id="articles">
                                <img src="/img/productos/<%= producto.imagen[0].nombre %>" alt="<%= producto.nombre %>">
                            </article>
                            <article class="fotos" id="articles">
                                <img src="/img/productos/<%= producto.imagen[1].nombre %>" alt="<%= producto.nombre %>">
                            </article>
                        </div>
                    <% } %>
                    <span class="botonesCarrusel" id="bttnRight">&#62</span>
                    <span class="botonesCarrusel" id="bttnLeft">&#60</span>
                </section>
                
            <% } else { %>
                <!-- OPCIÓN 3: PRODUCTO CON 1 SOLA FOTO -->
                <section class="cajaCarrusel_opcion3">
                    <div class="slider_opcion3" id="slider">
                        <article class="fotos_opcion3" id="articles">
                            <img src="/img/productos/<%= producto.imagen[0].nombre %>" alt="<%= producto.nombre %>">
                        </article>
                    </div>
                    <span class="botonesCarrusel_opcion3" id="bttnRight">&#62</span>
                    <span class="botonesCarrusel_opcion3" id="bttnLeft">&#60</span>
                </section>
            <% } %>
            <section class="fotosDetalle_contenedor">
                <% if (producto.imagen[1]) { %>
                    <% if (producto.imagen[2]) { %>
                        <div class="cajaFotos">
                            <article class="principal">
                                <img src="/img/productos/<%= producto.imagen[0].nombre %>" alt="<%= producto.nombre %>">
                            </article>
                            <div class="div_fotos">
                                <article class="secundarias">
                                    <img src="/img/productos/<%= producto.imagen[1].nombre %>" alt="<%= producto.nombre %>">
                                </article>
                                <article class="secundarias">
                                    <img src="/img/productos/<%= producto.imagen[2].nombre %>" alt="<%= producto.nombre %>">
                                </article>
                            </div>
                        </div>
                        <% } else { %>
                            <div class="cajaFotos">
                                <article class="principal">
                                    <img src="/img/productos/<%= producto.imagen[0].nombre %>" alt="<%= producto.nombre %>">
                                </article>
                                <div class="div_fotos">
                                    <article class="secundarias">
                                        <img src="/img/productos/<%= producto.imagen[1].nombre %>" alt="<%= producto.nombre %>">
                                    </article>
                                </div>
                            </div>
                        <% } %>
                    <% } else { %>
                        <div class="cajaFotos">
                            <article class="principal">
                                <img src="/img/productos/<%= producto.imagen[0].nombre %>" alt="<%= producto.nombre %>">
                            </article>
                        </div>
                    <% } %>
                    
                <div class="cajaDetalles">
                    <div class="cajaTitulo">
                        <h1 class="titulo"><%= producto.nombre  %></h1>
                        <!-- New in Font Awesome 5 is the fas prefix, Font Awesome 4 uses fa. 
                        The s in fas stands for solid, and some icons also have a regular mode, specified by using the prefix far. -->
                        <i class="favMarcado fas fa-solid fa-heart"></i>
                        <i class="favDesmarcado far fa-solid fa-heart"></i>
                    </div>
                    <div class="valoracion">
                        <!-- De momento estático / no funciona media estrella-->
                        <i class="fas fa-solid fa-star"></i>
                        <i class="fas fa-solid fa-star"></i>
                        <i class="fas fa-solid fa-star"></i>
                        <i class="fas fa-solid fa-star"></i>
                        <i class="far fa-solid fa-star"></i>
                    </div>
                    <div class="cajaPrecio">
                        <h2 class="<%= producto.descuento > 0 ? "precioConDescuento" : "precioSinDescuento"  %>">$<%= producto.precio %></h2>
                        <% if(producto.descuento>0){ %> 
                            <span class="precioDescuento">$<%= producto.precio - producto.precio*producto.descuento/100  %></span>
                            <span class="descuento"><%= producto.descuento %>% OFF</span>
                        <% } %>
                    </div>
                    <form action="../user/cart/agregar/<%=producto.id%>" method="POST" id="<%=producto.id%>" class="formAgregarProducto">
                        <% if (producto.talle[0] && producto.color[0]) { %>
                            <!-- opción 1, producto con colores y talle a elegir -->
                            <div class="selectores">
                                <% if(producto.talle[0]){ %> 
                                    <div class="cajaTalle">
                                        <label for="talle">Talle: </label>
                                        <select name="talle" id="talle">
                                            <% producto.talle.forEach(talle => { %> 
                                                <option value="<%= talle.nombre %>"><%= talle.nombre %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                <% } %>
                        
                                <% if(producto.color[0]){ %> 
                                    <div class="cajaColor">
                                        <label for="color">Color: </label>
                                        <select name="color" id="color">
                                            <% producto.color.forEach(color => { %> 
                                            <option value="<%= color.nombre %>"><%= color.nombre %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                <% } %>
                            </div>
                        <% } else if (producto.talle[0] || producto.color[0]) { %>
                            <!-- opción 2, producto con colores o talles a elegir, se cambia estilos del primer div-->
                            <div class="selectores1">
                                <% if(producto.talle[0]){ %> 
                                    <div class="cajaTalle">
                                        <label for="talle">Talle: </label>
                                        <select name="talle" id="talle">
                                            <% producto.talle.forEach(talle => { %> 
                                                <option value="<%= talle.nombre %>"><%= talle.nombre %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                <% } %>
    
                                <% if(producto.color[0]){ %> 
                                    <div class="cajaColor">
                                        <label for="color">Color: </label>
                                        <select name="color" id="color">
                                            <% producto.color.forEach(color => { %> 
                                            <option value="<%= color.nombre %>"><%= color.nombre %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                <% } %>
                            </div>
                        <% } else { %>
                            <!-- opción 3, no agrega nada -->
                        <% } %>
                        
                        <div class="cantidad">
                            <label for="cantidad">Cantidad: </label>
                            <div class="box-quantity-container">
                                <div class="box-quantity">
                                    <button>-</button>
                                    <input id="cantidad" type="number" value="1" name="cantidad" class="quantity" min="1" max="100">
                                    <button>+</button>
                                </div>
                            </div>
                        </div>
                    
                        <div class="contenedorFinal">
                            <button id="añadir" type="submit">Añadir al carrito</button>
                            <p>Compra 100% protegida</p>
                        </div>
                    </form>
                </div>
            </section>
            <section class="caracteristicasContenedor">
                <h2>Características</h2>
                <div class="marca">
                    <span>Marca: </span>
                    <span><%= producto.marca %></span>
                </div>
            </section>
            <section class="descripcionContenedor">
                <h2>Descripción</h2>
                <div class="descripcion">
                    <p class="contenido"><%= producto.descripcion %></p>
                </div>
            </section>
            <section class="opinionesContenedor">
                <div class="Contenedor_vov">
                    <div class="valoracion">
                        <!-- De momento estático / no funciona media estrella-->
                        <i class="fas fa-solid fa-star"></i>
                        <i class="fas fa-solid fa-star"></i>
                        <i class="fas fa-solid fa-star"></i>
                        <i class="fas fa-solid fa-star"></i>
                        <i class="far fa-solid fa-star"></i>
                    </div>
                    <div class="contador_ov">
                        <span>18 Opiniones / </span>
                        <span>23 Vendidos</span>
                    </div>
                </div>
                <!-- implementar for con las opiniones de cada producto / de momento estático -->
                <article class="clienteSatisfecho">
                    <div>
                        <span class="username">user1234</span>
                        <!-- De momento estático / no funciona media estrella-->
                        <i class="fas fa-solid fa-star"></i>
                        <i class="fas fa-solid fa-star"></i>
                        <i class="fas fa-solid fa-star"></i>
                        <i class="fas fa-solid fa-star"></i>
                        <i class="fas fa-solid fa-star"></i>
                    </div>
                    <p class="enResumen">Lorem impsum</p>
                    <p class="valoracionUsuario">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, excepturi aliquid nulla magni commodi pariatur, sint natus nihil sapiente eligendi dolore blanditiis neque eum. In voluptates nemo a nam explicabo.</p>
                </article>
                <article class="clienteSatisfecho">
                    <div>
                        <span class="username">user1234</span>
                        <!-- De momento estático / no funciona media estrella-->
                        <i class="fas fa-solid fa-star"></i>
                        <i class="fas fa-solid fa-star"></i>
                        <i class="fas fa-solid fa-star"></i>
                        <i class="fas fa-solid fa-star"></i>
                        <i class="fas fa-solid fa-star"></i>
                    </div>
                    <p class="enResumen">Lorem impsum</p>
                    <p class="valoracionUsuario">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, excepturi aliquid nulla magni commodi pariatur, sint natus nihil sapiente eligendi dolore blanditiis neque eum. In voluptates nemo a nam explicabo.</p>
                </article>
                <article class="clienteSatisfecho">
                    <div>
                        <span class="username">user1234</span>
                        <!-- De momento estático / no funciona media estrella-->
                        <i class="fas fa-solid fa-star"></i>
                        <i class="fas fa-solid fa-star"></i>
                        <i class="fas fa-solid fa-star"></i>
                        <i class="fas fa-solid fa-star"></i>
                        <i class="far fa-solid fa-star"></i>
                    </div>
                    <p class="enResumen">Lorem impsum</p>
                    <p class="valoracionUsuario">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, excepturi aliquid nulla magni commodi pariatur, sint natus nihil sapiente eligendi dolore blanditiis neque eum. In voluptates nemo a nam explicabo.</p>
                </article>
                <button class="masComentarios">Ver más...</button>
            </section>
        </section>

        <section class="mismaMarca"><!-- Productos de la misma marca -->

            <h2>Productos de la misma marca</h2>

            <div class="relacionados_contenedor">
                <article class="producto_relacionado">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-13.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <p class="precio">4.800 $</p>
                        <p class="descuento">- 15%</p>
                        <p class="precio_des">2.400 $</p>
                        <h4 class="titulo">Manoplas almohadilla entrenamiento wushengreen</h4>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_relacionado">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-17.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <p class="precio">26.499 $</p>
                        <p class="descuento">- 15%</p>
                        <p class="precio_des">13.249 $</p>
                        <h4 class="titulo">Saco Boxeo de pie 165cm con soporte</h4>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_relacionado">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-14.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <p class="precio">22.400 $</p>
                        <p class="descuento">- 15%</p>
                        <p class="precio_des">11.200 $</p>
                        <h4 class="titulo">Combo bolsa + soporte + cadenas + relleno EVERLAST boxeo</h4>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_relacionado">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-19.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <p class="precio">1.400 $</p>
                        <p class="descuento">- 15%</p>
                        <p class="precio_des">700 $</p>
                        <h4 class="titulo">Cinturón cinto artes marciales</h4>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
            </div>
            <div>
                <p class="bttnVerMas">Ver más</p>
            </div>
            
        </section>
        
        <section class="mismaMarca relacionados"> <!-- Productos Similares -->

            <h2>Productos similares</h2>

            <div class="relacionados_contenedor">
                <article class="producto_relacionado">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-13.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <p class="precio">4.800 $</p>
                        <p class="descuento">- 15%</p>
                        <p class="precio_des">2.400 $</p>
                        <h4 class="titulo">Manoplas almohadilla entrenamiento wushengreen</h4>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_relacionado">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-17.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <p class="precio">26.499 $</p>
                        <p class="descuento">- 15%</p>
                        <p class="precio_des">13.249 $</p>
                        <h4 class="titulo">Saco Boxeo de pie 165cm con soporte</h4>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_relacionado">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-14.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <p class="precio">22.400 $</p>
                        <p class="descuento">- 15%</p>
                        <p class="precio_des">11.200 $</p>
                        <h4 class="titulo">Combo bolsa + soporte + cadenas + relleno EVERLAST boxeo</h4>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_relacionado">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-19.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <p class="precio">1.400 $</p>
                        <p class="descuento">- 15%</p>
                        <p class="precio_des">700 $</p>
                        <h4 class="titulo">Cinturón cinto artes marciales</h4>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
            </div>

            <div>
                <p class="bttnVerMas">Ver más</p>
            </div>
        </section>

    </main>

    <%- include('../partials/footer')  %> 
    
</body>
<script src="../../../js/general.js"></script>
<script src="../../../js/addToCart.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../../../js/productDetailSlider.js"></script>
</html>