<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')  %>
    <!-- <link rel="stylesheet" href="../../../css/admin.css"> -->
    <title>Administrador</title>
</head>
<body>

    <%- include('../partials/header')  %>
    <main class="admin">

        <h1 class="tittle">Bienvenido<!-- imprimir el nombre del administrador que inició sesión --></h1>
        <section class="tarjetas_container">
            <article class="tarjetas">
                <a href="#adp"><img src="../../../img/design/box_admin.jpg" alt=""></a>
                <div class="cogs_container">
                    <img src="../../../img/design/1-engranaje.png" alt="" class="engranaje1">
                    <img src="../../../img/design/2-engranaje.png" alt="" class="engranaje2">
                    <img src="../../../img/design/3-engranaje.png" alt="" class="engranaje3">
                </div>
                <h4>Administrar productos <i class="fas fa-cogs"></i></h4>
            </article>
            <article class="tarjetas">
                <a href="#ldp"><img src="../../../img/design/list_admin.jpg" alt=""></a>
                <h4>Lista de productos <i class="fas fa-boxes"></i></h4>
            </article>
            <article class="tarjetas">
                <a href="#adu"><img src="../../../img/design/users_admin.jpg" alt=""></a>
                <div class="cogs_container2">
                    <img src="../../../img/design/1-engranaje.png" alt="" class="engranaje4">
                    <img src="../../../img/design/2-engranaje.png" alt="" class="engranaje5">
                    <img src="../../../img/design/3-engranaje.png" alt="" class="engranaje6">
                </div>
                <h4>Administrar usuarios <i class="fas fa-users-cog"></i></h4>
            </article>
            <article class="tarjetas">
                <a href="#ldu"><img src="../../../img/design/list_admin.jpg" alt=""></a>
                <h4>Lista de usuarios <i class="fas fa-users"></i></h4>
            </article>
        </section>
        <h2 class="title_container" id="adp">Administrar productos <i class="fas fa-cogs"></i></h2>
        <p class="redirect_container"><a href="admin/create" class="redirect">Crear nuevo producto <i class="fas fa-box"></i></a></p>
        <section class="list_container">
            <div class="subtitulo_container">
                <h2 id="ldp">Lista de productos <i class="fas fa-boxes"></i></h2>
            </div>
            <form action="">
                <input type="text" name="search" id="search" placeholder="Buscar producto">
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </section>
        <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="colm_icon">#ID</th>
                        <th scope="col">Producto</th>
                        <th scope="col" class="colm_icon">Ver</th>
                        <th scope="col" class="colm_icon">Editar</th>
                        <th scope="col" class="colm_icon">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <% productos.forEach(producto=>{ %> 
                    <tr>
                        <th scope="row" class="id"><%= producto.id%></th>
                        <td><%= producto.nombre%> </td>
                        <td class="iconos"><a href="product/<%= producto.id %>"><i class="fas fa-eye"></i></a></td>
                        <td class="iconos"><a href="admin/edit/<%= producto.id %>"><i class="fas fa-wrench"></i></a></td>
                        <td class="iconos">
                            <form action="/admin/edit/<%=producto.id%>?_method=DELETE" method="POST">

                            <button class="delete" type="submit"><i class=" trash fas fa-trash-alt"></i></button>
                        </form></td>
                    </tr>
                    <% }) %> 
                    
                </tbody>
        </table>
        <p class="redirect_container2"><a href="admin/create" class="redirect">Agregar nuevo producto <i class="fas fa-plus-square"></i></a></p>
        <h2 class="title_container" id="adu">Administrar usuarios <i class="fas fa-users-cog"></i></h2>
        <p class="redirect_container"><a href="user/register" class="redirect">Crear nuevo usuario <i class="fas fa-user-plus"></i></a></p>
        <section class="list_container">
            <div class="subtitulo_container">
                <h2 id="ldu">Lista de usuarios <i class="fas fa-users"></i></h2>
            </div>
            <form action="" class="ban_container">
                <button type="submit" class="eliminar_usuarios">Eliminar Baneados</button>
            </form>
            <form action="">
                    <input type="text" name="search" id="search" placeholder="Buscar usuario">
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
            </form>
        </section>
        <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="colm_icon">#ID</th>
                        <th scope="col">Usuario</th>
                        <th scope="col" class="colm_admin">Admin</th>
                        <th scope="col" class="colm_admin">Mensaje</th>
                        <th scope="col" class="colm_icon">Ban</th>
                    </tr>
                </thead>
                <tbody>
                    <% usuarios.forEach(usuario => { %>
                        <!-- /* admin pendiente */ -->
                        <tr>
                            <th scope="row" class="id"><%= usuario.id %></th>
                            <% if (!usuario.nombreUsuario) { %>
                                <td class="nick">BetaTester<%= usuario.id  %></td>
                            <% } else { %>
                                <td class="nick"><%= usuario.nombreUsuario%></td>
                            <% } %> 
                            <td class="adm"><%= usuario.admin%></td>
                            <% if (usuario.admin === 0) { %>
                            <td class="iconos"><i class=" carta fas fa-envelope"></i></td>
                            <% } else { %>
                            <td class="iconos"> - </td>
                            <% } %>
                            <% if (usuario.ban === undefined) { %>
                            <td class="iconos"> - </td>
                            <% } else if(usuario.ban === 0) { %>
                            <td class="iconos">
                                <form action="">
                                    <button class="ban" type="submit"><i class=" noban fas fa-ban"></i></button>
                                </form>
                            </td>
                            <% } else if(usuario.ban === 1) { %>
                                <td class="iconos">
                                    <form action="">
                                        <button class="ban" type="submit"><i class=" ban fas fa-ban"></i></button>
                                    </form>
                                </td>
                            <% } %> 
                        </tr>
                    <% }); %> 
                </tbody>
        </table>
        <p class="redirect_container2"><a href="user/register" class="redirect">Agregar nuevo usuario <i class="fas fa-user-plus"></i></a></p>
    </main>

    <%- include('../partials/footer')  %> 

</body>
</html>