<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../../../css/crear.css">
        <title>Editando <%= producto.nombre %>
        </title>
</head>

<body class="editar">

    <%- include('../partials/header') %>

        <main class="edit">
            <section class="product_container">
                <h1>
                    Editar Producto
                </h1>

                <form class="todo_container" action="/admin/edit/<%= producto.id  %>?_method=PUT" method="POST">

                    <section class="visual_container">
                        <!-- ////imagen de archivo//// -->
                        <img src="/img/productos/<%= producto.imagen[0] %>" alt="">

                        <!-- /////titulo de producto//// -->
                        <h2>
                            <%= producto.nombre %> <i class="fas fa-box"></i>
                        </h2>

                        <!-- /////Descripcion de Producto///// -->
                        <div class="selec info_des_container">
                            <p>Ingresá una descripción</p>
                            <textarea name="descripcion" id=""><%= producto.descripcion %></textarea>
                        </div>

                        <!-- ////////selector de enviar//////// -->
                        <div class="descuento_envio_container">
                            <div class="envio_container">
                                <input type="checkbox" name="envioGratis" id="envio" <% if(producto.envioGratis===true
                                    ){%>checked<%}%> >
                                    <label for="envioGratis">Envío</label>
                            </div>

                            <!-- ///////selector de % y Descuento /////// -->
                            <div class="descuento_container">
                                <label for="descuento">Descuento</label>
                                <select name="descuento" id="Descuento">
                                    <option value="" selected hidden>
                                        <%= producto.descuento %> %
                                    </option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                        </div>
                    </section>


                    <section class="info_container">
                        <!-- /////seccion de talla///// -->
                        <p>Tallas</p>
                        <!-- ////talla en letras//// -->
                        <div class="tallaLetra">
                            <label for="S">S</label>
                            <input class="m" id="S" type="checkbox" name="talle" value="S" <%
                                if(producto.talle.includes("S")===true ){%>checked<%}%> >
                                <label for="M">M</label>
                                <input class="m" id="M" type="checkbox" name="talle" value="M" <%
                                    if(producto.talle.includes("M")===true ){%>checked<%}%> >
                                    <label for="L">L</label>
                                    <input class="m" id="L" type="checkbox" name="talle" value="L" <%
                                        if(producto.talle.includes("L")===true ){%>checked<%}%> >
                                        <label for="XL">XL</label>
                                        <input class="m" id="XL" type="checkbox" name="talle" value="XL" <%
                                            if(producto.talle.includes("XL")===true ){%>checked<%}%> >
                                            <label for="XXL">XXL</label>
                                            <input class="m" id="XXL" type="checkbox" name="talle" value="XXL" <%
                                                if(producto.talle.includes("XXL")===true ){%>checked<%}%> >
                        </div>
                        <!-- ///////Talla en Numero/////// -->
                        <p>Talla en Numeros</p>
                        <div class="tallaNumero">
                            <label for="talla0">0</label>
                            <input class="nl" id="talla0" type="checkbox" name="talle" value="0" <%
                                if(producto.talle.includes("0")===true ){%>checked<%}%> >
                                <label for="talla1">1</label>
                                <input class="nl" id="talla1" type="checkbox" name="talle" value="1" <%
                                    if(producto.talle.includes("1")===true ){%>checked<%}%> >
                                    <label for="talla2">2</label>
                                    <input class="nl" id="talla2" type="checkbox" name="talle" value="2" <%
                                        if(producto.talle.includes("2")===true ){%>checked<%}%> >
                                        <label for="talla3">3</label>
                                        <input class="nl" id="talla3" type="checkbox" name="talle" value="3" <%
                                            if(producto.talle.includes("3")===true ){%>checked<%}%> >
                                            <label for="talla4">4</label>
                                            <input class="nl" id="talla4" type="checkbox" name="talle" value="4" <%
                                                if(producto.talle.includes("4")===true ){%>checked<%}%> >
                                                <label for="talla5">5</label>
                                                <input class="nl" id="talla5" type="checkbox" name="talle" value="5" <%
                                                    if(producto.talle.includes("5")===true ){%>checked<%}%> >
                                                    <label for="talla6">6</label>
                                                    <input class="nl" id="talla6" type="checkbox" name="talle" value="6"
                                                        <% if(producto.talle.includes("6")===true ){%>checked<%}%> >
                                                        <label for="talla7">7</label>
                                                        <input class="nl" id="talla7" type="checkbox" name="talle"
                                                            value="7" <% if(producto.talle.includes("7")===true
                                                            ){%>checked<%}%> >
                                                            <label for="talla8">8</label>
                                                            <input class="nl" id="talla8" type="checkbox" name="talle"
                                                                value="8" <% if(producto.talle.includes("8")===true
                                                                ){%>checked<%}%> >
                                                                <label for="talla9">9</label>
                                                                <input class="nl" id="talla9" type="checkbox"
                                                                    name="talle" value="9" <%
                                                                    if(producto.talle.includes("9")===true ){%>checked
                                                                <%}%> >
                        </div>
                        <!-- /////Nombre de Producto///// -->
                        <div class="selec info_titulo_container">
                            <p>Nombre de Producto</p>
                            <input type="text" name="nombre" value="<%= producto.nombre %>">
                        </div>
                        
                        <!-- /////Precio de producto///// -->
                        <div class="selec info_precio_container">
                            <p>Precio $</p>
                            <input type="number" name="precio" value="<%= producto.precio %>">
                        </div>
                        <!-- /////Colores de producto///// -->
                        <div class="selec color_container">
                            <p>Colores</p>
                            <input type="text" name="color" value="<%= producto.color[0] %>">
                            <% if(producto.color[1]){ %>
                                <input type="text" name="color" value="<%= producto.color[1] %>">
                                <% } %>
                                    <% if(producto.color[2]){ %>
                                        <input type="text" name="color" value="<%= producto.color[2] %>">
                                        <% } %>
                                            <% if(producto.color[3]){ %>
                                                <input type="text" name="color" value="<%= producto.color[3] %>">
                                                <% } %>
                                                    <% if(producto.color[4]){ %>
                                                        <input type="text" name="color"
                                                            value="<%= producto.color[4] %>">
                                                        <% } %>

                        </div>
                        <!-- /////categoria de producto///// -->
                        <p>Categoría</p>
                        <div class="selec info_categoria_container">

                            <div class="Categoria1">
                                <div>
                                    <label for="taekwon-Do">TaeKwon-Do</label>
                                    <input class="m" name="categoria" id="taekwon-Do" type="checkbox" value="TaeKwon-Do"
                                        <% if(producto.categoria.includes("TaeKwon-Do")===true ){%>checked<%}%> >
                                </div>

                                <div>
                                    <label for="Boxeo">Boxeo</label>
                                    <input class="m" name="categoria" id="Boxeo" type="checkbox" value="Boxeo" <%
                                        if(producto.categoria.includes("Boxeo")===true ){%>checked<%}%> >
                                </div>

                                <div>
                                    <label for="EntrenamientoFuncional/Crossfit">Funcional/Cross</label>
                                    <input class="m" name="categoria" id="EntrenamientoFuncional/Crossfit"
                                        type="checkbox" value="Funcional/Cross" <%
                                        if(producto.categoria.includes("Funcional/Cross")===true ){%>checked<%}%> >
                                </div>
                            </div>

                            <div class="Categoria2">
                                <div>
                                    <label for="Judo">Judo</label>
                                    <input class="m" name="categoria" id="Judo" type="checkbox" value="Judo" <%
                                        if(producto.categoria.includes("Judo")===true ){%>checked<%}%> >
                                </div>

                                <div>
                                    <label for="Jiu-Jitsu">Jiu-Jitsu</label>
                                    <input class="m" name="categoria" id="Jiu-Jitsu" type="checkbox" value="Jiu-Jitsu"
                                        <% if(producto.categoria.includes("Jiu-Jitsu")===true ){%>checked<%}%> >
                                </div>

                                <div>
                                    <label for="KickBoxing/MuayThai">KickBoxing/MuayThai</label>
                                    <input class="m" name="categoria" id="KickBoxing/MuayThai" type="checkbox"
                                        value="KickBoxing/MuayThai" 
                                        <% if(producto.categoria.includes("KickBoxing/MuayThai")===true ){%>checked<%}%> >
                                </div>


                            </div>

                        </div>

                    </section>
                    <!-- ///botones//// -->
                    <section class="button_container">
                        <button class="boton" type="submit">Crear</button>
                        <button class="boton" type="reset">Borrar</button>
                    </section>
                    
                    

                </form>
            </section>
            <section class="delete_container">
                        <form action="/admin/edit/<%=producto.id%>?_method=DELETE" method="POST">

                            <button type="submit">Eliminar producto</button>
                        </form>
                    </section>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>