<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../../../css/crear.css">
        <title>Editando <%= producto.nombre %>
        </title>
</head>

<body class="editar">

    <%- include('../partials/header') %>

        <main class="edit">
            <section class="product_container">
                <h1>
                    Editar Producto  <i class="fas fa-box"></i>
                </h1>

                <form class="todo_container" action="/admin/edit/<%= producto.id  %>?_method=PUT" method="POST" enctype="multipart/form-data">

                    <section class="visual_container">

                        <!-- /////titulo de producto//// -->
                        <h2>
                            <%= producto.nombre %> 
                        </h2>

                        <!-- ////imagen de archivo//// -->
                        <img src="/img/productos/<%= producto.imagen[0].nombre %>" alt="">
                        <label for="imagenes">Imagen del producto</label>
                        <input type="file" accept="image/*" name="imagenes" multiple>

                        <!-- /////Descripcion de Producto///// -->
                        <div class="selec info_des_container">
                            <p>Ingresá una descripción</p>
                            <textarea name="descripcion" id=""><%= producto.descripcion %></textarea>
                            <% if (locals.errors && errors.descripcion) { %>
                                <small class="errors"><%= errors.descripcion.msg %></small>
                            
                            <% } %>
                        </div>

                        <!-- ////////selector de enviar//////// -->
                        <div class="descuento_envio_container">
                            <div class="envio_container">
                                <input type="checkbox" name="envioGratis" id="envio" <% if(producto.envio ===1
                                    ){%>checked<%}%> >
                                    <label for="envioGratis">Envío</label>
                            </div>

                            <!-- ///////selector de % y Descuento /////// -->
                            <div class="descuento_container">
                                <label for="descuento">Descuento</label>
                                <select name="descuento" id="Descuento">
                                    <option value="" selected hidden>
                                        <%= producto.descuento %> %
                                    </option>
                                    <option value="0">0</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                        </div>
                    </section>


                    <section class="info_container">
                        <!-- /////seccion de talla///// -->
                        <p>Tallas</p>
                        <div class= "tallaLetra">

                        <div>
                            <label for="M0">M0</label>
                            <input class="nl"id="M0" type="checkbox" name="talle" value="M0"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === 'M0') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>


                        <div>
                            <label for="M1">M1</label>
                            <input class="nl"id="M1" type="checkbox" name="talle" value="M1"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === 'M1') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>


                        <div>
                            <label for="M2">M2</label>
                            <input class="nl"id="M2" type="checkbox" name="talle" value="M2"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === 'M2') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>

                        <div>
                            <label for="M3">M3</label>
                            <input class="nl"id="M3" type="checkbox" name="talle" value="M3"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === 'M3') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>


                        <div>
                            <label for="A0">A0</label>
                            <input class="nl"id="A0" type="checkbox" name="talle" value="A0"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === 'A0') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>


                        <div>
                            <label for="A1">A1</label>
                            <input class="nl"id="A1" type="checkbox" name="talle" value="A1"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === 'A1') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>


                        <div>
                            <label for="A2">A2</label>
                            <input class="nl"id="A2" type="checkbox" name="talle" value="A2"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === 'A2') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>


                        <div>
                            <label for="A3">A3</label>
                            <input class="nl"id="A3" type="checkbox" name="talle" value="A3"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === 'A3') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>


                        <div>
                            <label for="A4">A4</label>
                            <input class="nl"id="A4" type="checkbox" name="talle" value="A4"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === 'A4') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>


                        <div>
                            <label for="A5">A5</label>
                            <input class="nl"id="A5" type="checkbox" name="talle" value="A5"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === 'A5') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>


                        <div>
                            <label for="0">0</label>
                            <input class="nl"id="0" type="checkbox" name="talle" value="0"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === '0') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>



                        <div>
                            <label for="1">1</label>
                            <input class="nl"id="1" type="checkbox" name="talle" value="1"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === '1') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>
                        

                        <div>
                            <label for="2">2</label>
                            <input class="nl"id="2" type="checkbox" name="talle" value="2"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === '2') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>



                        <div>
                            <label for="3">3</label>
                            <input class="nl"id="3" type="checkbox" name="talle" value="3"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === '3') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>


                        <div>
                            <label for="4">4</label>
                            <input class="nl"id="4" type="checkbox" name="talle" value="4"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === '4') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>


                        <div>
                            <label for="5">5</label>
                            <input class="nl"id="5" type="checkbox" name="talle" value="5"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === '5') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>


                        <div>
                            <label for="6">6</label>
                            <input class="nl"id="6" type="checkbox" name="talle" value="6"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === '6') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>


                        <div>
                            <label for="7">7</label>
                            <input class="nl"id="7" type="checkbox" name="talle" value="7"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === '7') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>


                        <div>
                            <label for="8">8</label>
                            <input class="nl"id="8" type="checkbox" name="talle" value="8"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === '8') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>


                        <div>
                            <label for="9">9</label>
                            <input class="nl"id="9" type="checkbox" name="talle" value="9"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === '9') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>


                        <div>
                            <label for="S">S</label>
                            <input class="nl"id="S" type="checkbox" name="talle" value="S"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === 'S') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>


                        <div>
                            <label for="L">L</label>
                            <input class="nl"id="L" type="checkbox" name="talle" value="L"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === 'L') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>


                        <div>
                            <label for="M">M</label>
                            <input class="nl"id="M" type="checkbox" name="talle" value="M"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === 'M') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>

                        <div>
                            <label for="XL">XL</label>
                            <input class="nl"id="XL" type="checkbox" name="talle" value="XL"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === 'XL') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>

                        <div>
                            <label for="XXL">XXL</label>
                            <input class="nl"id="XXL" type="checkbox" name="talle" value="XXL"
                            <% for (let i = 0; i < producto.talle.length; i++) { %>
                                <% if (producto.talle[i].nombre === 'XXL') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>

                        </div>
                        <!-- /////Nombre de Producto///// -->
                        <div class="selec info_titulo_container">
                            <p>Nombre de Producto</p>
                            <input type="text" name="nombre" value="<%= producto.nombre %>">
                            <% if (locals.errors && errors.nombre) { %>
                                <small class="errors"><%= errors.nombre.msg %></small>
                            
                            <% } %>
                        </div>
                        
                        <!-- /////Precio de producto///// -->
                        <div class="selec info_precio_container">
                            <p>Precio $</p>
                            <input type="number" name="precio" value="<%= producto.precio %>">
                            <% if (locals.errors && errors.precio) { %>
                                <small class="errors"><%= errors.precio.msg %></small>
                            
                            <% } %>
                        </div>
                        <!-- /////Colores de producto///// -->
                        <div class="selec color_container">
                            <p>Colores</p>
                            <input class="color0"id="inputColores" type="checkbox" name="color" value="Rojo"
                            <% for (let i = 0; i < producto.color.length; i++) { %>
                                <% if (producto.color[i].nombre === 'Rojo') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                            <input class="color1"id="inputColores" type="checkbox" name="color" value="Blanco"
                            <% for (let i = 0; i < producto.color.length; i++) { %>
                                <% if (producto.color[i].nombre === 'Blanco') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                            <input class="color2"id="inputColores" type="checkbox" name="color" value="Violeta"
                            <% for (let i = 0; i < producto.color.length; i++) { %>
                                <% if (producto.color[i].nombre === 'Violeta') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                            <input class="color3"id="inputColores" type="checkbox" name="color" value="Rosado"
                            <% for (let i = 0; i < producto.color.length; i++) { %>
                                <% if (producto.color[i].nombre === 'Rosado') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                            <input class="color4"id="inputColores" type="checkbox" name="color" value="Azul"
                            <% for (let i = 0; i < producto.color.length; i++) { %>
                                <% if (producto.color[i].nombre === 'Azul') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                            <input class="color5"id="inputColores" type="checkbox" name="color" value="Amarillo"
                            <% for (let i = 0; i < producto.color.length; i++) { %>
                                <% if (producto.color[i].nombre === 'Amarillo') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                            <input class="color6"id="inputColores" type="checkbox" name="color" value="Negro"
                            <% for (let i = 0; i < producto.color.length; i++) { %>
                                <% if (producto.color[i].nombre === 'Negro') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                            <input class="color7"id="inputColores" type="checkbox" name="color" value="Verde claro"
                            <% for (let i = 0; i < producto.color.length; i++) { %>
                                <% if (producto.color[i].nombre === 'Verde claro') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                            <input class="color8"id="inputColores" type="checkbox" name="color" value="Verde oscuro"
                            <% for (let i = 0; i < producto.color.length; i++) { %>
                                <% if (producto.color[i].nombre === 'Verde oscuro') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                            <input class="color9"id="inputColores" type="checkbox" name="color" value="Celeste"
                            <% for (let i = 0; i < producto.color.length; i++) { %>
                                <% if (producto.color[i].nombre === 'Celeste') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                            <input class="color10"id="inputColores" type="checkbox" name="color" value="Naranja"
                            <% for (let i = 0; i < producto.color.length; i++) { %>
                                <% if (producto.color[i].nombre === 'Naranja') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                            <input class="color11"id="inputColores" type="checkbox" name="color" value="Gris"
                            <% for (let i = 0; i < producto.color.length; i++) { %>
                                <% if (producto.color[i].nombre === 'Gris') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                            <input class="color12"id="inputColores" type="checkbox" name="color" value="Fucsia"
                            <% for (let i = 0; i < producto.color.length; i++) { %>
                                <% if (producto.color[i].nombre === 'Fucsia') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                            <input class="color13"id="inputColores" type="checkbox" name="color" value="Bordó"
                            <% for (let i = 0; i < producto.color.length; i++) { %>
                                <% if (producto.color[i].nombre === 'Bordó') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                            <input class="color14"id="inputColores" type="checkbox" name="color" value="Marrón"
                            <% for (let i = 0; i < producto.color.length; i++) { %>
                                <% if (producto.color[i].nombre === 'Marrón') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                            <input class="color15"id="inputColores" type="checkbox" name="color" value="Dorado"
                            <% for (let i = 0; i < producto.color.length; i++) { %>
                                <% if (producto.color[i].nombre === 'Dorado') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                            <input class="color16"id="inputColores" type="checkbox" name="color" value="Beige"
                            <% for (let i = 0; i < producto.color.length; i++) { %>
                                <% if (producto.color[i].nombre === 'Beige') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                            <input class="color17"id="inputColores" type="checkbox" name="color" value="Plateado"
                            <% for (let i = 0; i < producto.color.length; i++) { %>
                                <% if (producto.color[i].nombre === 'Plateado') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >

                        </div>
                        <!-- /////categoria de producto///// -->
                        <p>Categoría</p>
                        <div class="selec info_categoria_container">

                            <div class="Categoria1">
                                
                                <div> 
                                    <label for="TaeKwon-Do">TaeKwon-Do</label>
                                    <input class="m"id="TaeKwon-Do" type="checkbox" name="categoria" value="TaeKwon-Do"
                                    <% for (let i = 0; i < producto.categoria.length; i++) { %>
                                     <% if (producto.categoria[i].nombre === 'TaeKwon-Do') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                            </div>

                               

                            <div>
                                <label for="Boxeo">Boxeo</label>
                                <input class="m"id="Boxeo" type="checkbox" name="categoria" value="Boxeo"
                                <% for (let i = 0; i < producto.categoria.length; i++) { %>
                                <% if (producto.categoria[i].nombre === 'Boxeo') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                            </div>

                            

                            <div>
                                <label for="Judo">Judo</label>
                                <input class="m"id="Judo" type="checkbox" name="categoria" value="Judo"
                                <% for (let i = 0; i < producto.categoria.length; i++) { %>
                                <% if (producto.categoria[i].nombre === 'Judo') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                            </div>

                            
                            </div>
                            

                    <div class="Categoria2">
                        <div>
                            <label for="Jiu-Jitsu">Jiu-Jitsu</label>
                            <input class="m"id="Jiu-Jitsu" type="checkbox" name="categoria" value="Jiu-Jitsu"
                            <% for (let i = 0; i < producto.categoria.length; i++) { %>
                                <% if (producto.categoria[i].nombre === 'Jiu-Jitsu') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>
                            

                        <div>
                            <label for="KickBoxing/MuayThai">KickBoxing/MuayThai</label>
                            <input class="m"id="KickBoxing/MuayThai" type="checkbox" name="categoria" value="KickBoxing/MuayThai"
                            <% for (let i = 0; i < producto.categoria.length; i++) { %>
                                <% if (producto.categoria[i].nombre === 'KickBoxing/MuayThai') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>
                            
                            <label for="Entrenamiento Funcional/CrossFit">Entrenamiento Funcional/CrossFit</label>
                            <input class="m"id="Entrenamiento Funcional/CrossFit" type="checkbox" name="categoria" value="Entrenamiento Funcional/CrossFit"
                            <% for (let i = 0; i < producto.categoria.length; i++) { %>
                                <% if (producto.categoria[i].nombre === 'Entrenamiento Funcional/CrossFit') { %>
                                    checked
                                <% } %>
                                
                            <% } %>
                            >
                        </div>

                        <% if (locals.errors && errors.categoria) { %>
                            <small class="errors"><%= errors.categoria.msg %></small>
                        
                        <% } %>

                    </div>
                            

                    </section>
                    <!-- ///botones//// -->
                    <section class="button_container">
                        <button class="boton" type="submit">Actualizar</button>
                        <button class="boton" type="reset">Borrar</button>
                    </section>
                    
                    

                </form>
            </section>
            <section class="delete_container">
                        <form action="/admin/edit/<%=producto.id%>?_method=DELETE" method="POST">

                            <button type="submit">Eliminar producto</button>
                        </form>
                    </section>
        </main>
        <%- include('../partials/footer') %>
</body>
<script src="../../../js/general.js"></script>
</html>