<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')  %>
    <title>Agregar Dirección</title>
</head>

<body>

    <%- include('../partials/header')  %> 

    <main class="address">


        <h2>Agregar nueva dirección</h2>


        <section>

            <form action="/user/address/add" method="POST" >
                <div class="input-container">
                    
                    <div>
                        <label for="calle">Calle</label>
                        <div class="inputs">
                            <input type="text" id="calle"   placeholder="Ingresá el nombre de la calle sin número" name="calle" required value=<%= locals.old && old.calle ? old.calle : null %>>
                            <i class="error fas fa-times" id="errorCalle"></i>
                            <i class="check fas fa-check" id="checkCalle"></i>
                        </div>
                        <% if (locals.errors && errors.calle) { %>
                        <small class="errors"><%= errors.calle.msg %> </small>
                         
                        <% } %>
                        <small id="smallCalle" class="errors"></small>
                    </div>

                    <div>
                        <label for="numero">Número</label>
                        <div class="inputs">
                            <input type="number" id="numero"  placeholder="Ingresá el número" name="numero" required value=<%= locals.old && old.numero ? old.numero : null %> >
                            <i class="error fas fa-times" id="errorNumero"></i>
                            <i class="check fas fa-check" id="checkNumero"></i>
                        </div>
                        <% if (locals.errors && errors.numero) { %>
                            <small class="errors"><%= errors.numero.msg %> </small>
                             
                        <% } %>
                        <small id="smallNumero" class="errors"></small>
                    </div>

                    <div>
                        <label for="localidad">Localidad</label>
                        <div class="inputs">
                            <input type="text" id="localidad"  placeholder="Ingresá tu localidad o partido" name="localidad" required value=<%= locals.old && old.localidad ? old.localidad : null %> >
                            <i class="error fas fa-times" id="errorLocalidad"></i>
                            <i class="check fas fa-check" id="checkLocalidad"></i>
                        </div>
                        <% if (locals.errors && errors.localidad) { %>
                            <small class="errors"><%= errors.localidad.msg %> </small>
                             
                        <% } %>
                        <small id="smallLocalidad" class="errors"></small>
                    </div>

                    <div>
                        <label for="provincia">Provincia</label>
                        <div class="inputs">
                            <input type="text" id="provincia"  placeholder="Ingresá tu provincia" name="provincia" required value=<%= locals.old && old.provincia ? old.provincia : null %> >
                            <i class="error fas fa-times" id="errorProvincia"></i>
                            <i class="check fas fa-check" id="checkProvincia"></i>
                        </div>
                        <% if (locals.errors && errors.provincia) { %>
                            <small class="errors"><%= errors.provincia.msg %> </small>
                             
                        <% } %>
                        <small id="smallProvincia" class="errors"></small>
                    </div>

                    <div>
                        <label for="codigoPostal">Código Postal</label>
                        <div class="inputs">
                            <input type="number" id="codigoPostal"  placeholder="Ingresá tu Código Postal" name="codigoPostal" required value=<%= locals.old && old.codigoPostal ? old.codigoPostal : null %> >
                            <i class="error fas fa-times" id="errorCodigoPostal"></i>
                            <i class="check fas fa-check" id="checkCodigoPostal"></i>
                        </div>
                        <% if (locals.errors && errors.codigoPostal) { %>
                            <small class="errors"><%= errors.codigoPostal.msg %> </small>
                             
                        <% } %>
                        <small id="smallCodigoPostal" class="errors"></small>
                    </div>

                    <div>
                        <label for="departamento">Departamento</label>
                        <div class="inputs">
                            <input type="number" id="departamento"  placeholder=""  name="departamento" value=<%= locals.old && old.departamento ? old.departamento : null %> >
                            <i class="error fas fa-times" id="errorDepartamento"></i>
                            <i class="check fas fa-check" id="checkDepartamento"></i>
                        </div>
                        <% if (locals.errors && errors.departamento) { %>
                            <small class="errors"><%= errors.departamento.msg %> </small>
                             
                        <% } %>
                        <small id="smallDepartamento" class="errors"></small>
                    </div>

                <button type="submit" class="form-button">Agregar</button>


            </form>

        </section>

    </main>

    <%- include('../partials/footer')  %> 

</body>
<script src="../../../js/address.js"></script>

</html>