<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')  %>
    <title>Carrito</title>
</head>
<body>

    <div class="quantity-layer">
        <div class="quantity-card">
            <div  class="quantity-cancel"><i class="fas fa-times"></i></div>
            <input class="quantity-input" type="number" value="1" min="1" max="100" >
            <button type="button" class="quantity-accept">Aceptar</button>
        </div>
    </div>

    <%- include('../partials/header')  %> 

    <main class="cart">
        <h1 class="titulo">Carrito</h1>
        <% if (carritos.length === 0) { %>
         <div>
             <h2>No hay productos en el carrito</h2>
         </div>
        <% } else{ %>
        
        <section class="container">
            <div class="info_cart">
                <h2>Artículo</h2>
                <h2>Monto</h2>
            </div>
            <% carritos.forEach(carrito=>{%>
                <article class="product_info">
                <div class="foto_product">
                    <a href="#" target="blank"><img src="/img/productos/<%=carrito.carritoProducto.imagen[0].nombre%>" alt=""></a>
                        <button id="<%= carrito.carritoProducto.id%>" class="eliminar" onclick=<%= `eliminarProducto(${carrito.carritoProducto.id})`%> >Eliminar<i class="fas fa-trash trash"></i></button>
                    <p class="modelo_article"></p>
                </div>
                <div class="detail_product">
                    <div class="detail_article_cart">
                        <h4 class="tittle_article"><%=carrito.carritoProducto.nombre%></h4>
                    </div>
                    <div class="cantidad_container">
                        <div class="box_quantity">
                                <!-- <input type="number" name="cantidad" value="<%=carrito.cantidad%>" class="quantity" min="0"> -->
                                <button type="button" id="cambiarCantidad" onclick=<%= `mostrarSelectorCantidad(${carrito.carritoProducto.id})`%> >Cantidad: <%=carrito.cantidad%> <i class="fas fa-chevron-down"></i></button>
                       </div>
                    </div>
                    <div class="monto_container">
                        <!-- <h5>Envío</h5>
                        <p class="precio"><%= carrito.carritoProducto.envio === 1 ? "GRATIS": "$500"%> </p> -->
                        <% if(carrito.carritoProducto.descuento>0){ %> 
                        <p class="precio">$<%= (carrito.carritoProducto.precio - carrito.carritoProducto.precio*carrito.carritoProducto.descuento/100) * carrito.cantidad  %></p>
                    
                        <% }else{ %> 
                        <p class="precio">$<%=carrito.carritoProducto.precio * carrito.cantidad%></p>
                        <% }  %> 
                    </div>
                </div>
            </article>
            <% }) %> 
            
            
            <section class="monto_final">
                <div class="total_container">
                    <div class="seguro">
                        <h5>Tus datos se mantendrán bajo estricta confidencialidad</h5>
                        <p>ForjaWeb usa un sistema de seguridad llamado SSL (Secure Socket Layer), te gustaría saber más sobre nuestras políticas de privacidad? Click abajo</p>
                        <a href="#">Leer más</a>
                    </div>
                    <div class="totales">
                        <h5>Subtotal</h5>
                        <h5>Envío</h5>
                        <h5>Total</h5>
                    </div>
                    <div class="precio_total">
                        <% var subtotal = 0 %>
                        <%carritos.forEach(carrito=>{%>
                            <% if(carrito.carritoProducto.descuento>0){ %>
                            <% subtotal = subtotal + parseInt(carrito.carritoProducto.precio - carrito.carritoProducto.precio*carrito.carritoProducto.descuento/100) * carrito.cantidad %>
                            <% }else{ %>
                            <% subtotal = subtotal + parseInt(carrito.carritoProducto.precio) * carrito.cantidad  %>
                            <% } %> 
                        <%})%>
                        <h5>$<%= subtotal %></h5>
                        <h5>$300</h5>
                        <h5>$<%= subtotal + 300 %> </h5>
                    </div>
                </div>
                <div class="mercado_pago">
                    <img src="/img/design/mercadopago.png" alt="">
                    <div class="boton_container">
                        <a href="#"><button class="pagar">Finalizar compra</button></a>
                    </div>
                </div>
            </section>
        </section>
        <% }  %> 
        <section class="similares">
            <h2>Productos relacionados</h2>
            <div class="similares_contenedor">
                <article class="producto_des">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-10.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <i class="fas fa-truck" id="envio"></i>
                        <p class="precio">750 $</p>
                        <h4 class="titulo">Soga cuerda para saltar Athletic acero</h4>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_ofer">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-15.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <p class="precio">1.350 $</p>
                        <p class="descuento">- 15%</p>
                        <p class="precio_des">2.400 $</p>
                        <h4 class="titulo">Saco + soporte boxeo para niños inflable</h4>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_ofer">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-16.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <p class="precio">20.000 $</p>
                        <p class="descuento">- 15%</p>
                        <p class="precio_des">10.000 $</p>
                        <h4 class="titulo">Soga de Saltar color con rulemanes</h4>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_ofer">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-17.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <p class="precio">26.499 $</p>
                        <p class="descuento">- 15%</p>
                        <p class="precio_des">13.249 $</p>
                        <h4 class="titulo">Saco Boxeo de pie 165cm con soporte</h4>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_ofer">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-20.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <p class="precio">12.499 $</p>
                        <p class="descuento">- 15%</p>
                        <p class="precio_des">6.249 $</p>
                        <h4 class="titulo">Protector tibial Kick/Muay Quzz</h4>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_des">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-6.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <i class="fas fa-truck" id="envio"></i>
                        <p class="precio">2.500 $</p>
                        <h4 class="titulo">Saco de boxeo entrenamiento velocidad</h4>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
            </div>
            <p class="ver_mas"><a href="#" class="ver_mas">Ver más</a></p>
        </section>
    </main>
    
    <%- include('../partials/footer')  %> 
    
</body>
<script src="../../../js/general.js"></script>
<script src="../../../js/cart.js"></script>
</html>