<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')  %>
    <title>Cambiar contraseña</title>
</head>
<body>
    <%- include('../partials/header')  %>

    <main class="password">
        
        <section>
            <h2>Cambiar contraseña</h2>
           
            <form action="/user/password?_method=PUT" method="POST">

                
                <input type="password" name="contraseñaVieja" id="password" placeholder="Contraseña actual" >
                <% if (locals.errors && errors.contraseñaVieja) { %>
                    <small class="errors"><%= errors.contraseñaVieja.msg %> </small>

                <% } %>
                
                <input type="password" name="contraseñaNueva" id="password" placeholder="Nueva contraseña" >
                <% if (locals.errors && errors.contraseñaNueva) { %>
                    <small class="errors"><%= errors.contraseñaNueva.msg %> </small>

                <% } %>

            
            <button type="submit" >Cambiar contraseña</button>
            </form>
        </section> 
    </main>

    <%- include('../partials/footer')  %> 

    
</body>
</html>