<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')  %>
    <title>Cambiar contraseña</title>
</head>
<body>
    <%- include('../partials/header')  %>

    <main class="password">
        
        <section>
            <h2>Cambiar contraseña</h2>
           
            <form action="/user/password?_method=PUT" method="POST">

                
                <div class="inputs">
                    <input type="password" name="contraseñaVieja" id="password" placeholder="Contraseña actual" >
                    <i class="error fas fa-times" id="errorPassword"></i>
                    <i class="check fas fa-check" id="checkPassword"></i>
                    <i class="ocultarContraseña fas fa-eye-slash" id="ocultarContraseña"></i>
                    <i class="verContraseña fas fa-eye" id="verContraseña"></i>
                </div>
                <% if (locals.errors && errors.contraseñaVieja) { %>
                    <small class="errors"><%= errors.contraseñaVieja.msg %> </small>

                <% } %>
                <small id="smallPassword" class="errors"></small>
                
                <div class="inputs">
                    <input type="password" name="contraseñaNueva" id="newPassword" placeholder="Nueva contraseña" >
                    <i class="error fas fa-times" id="errorNewPassword"></i>
                    <i class="check fas fa-check" id="checkNewPassword"></i>
                </div>
                <% if (locals.errors && errors.contraseñaNueva) { %>
                    <small class="errors"><%= errors.contraseñaNueva.msg %> </small>

                <% } %>
                <small id="smallNewPassword" class="errors"></small>

            
            <button type="submit" class="form-button">Cambiar contraseña</button>
            </form>
        </section> 
    </main>

    <%- include('../partials/footer')  %> 

    
</body>
<script src="../../../js/password.js"></script>
</html>